[submodule "AEEDs3/TP_1_AEDs_III"]
	path = AEEDs3/TP_1_AEDs_III
	url = https://github.com/LuisAugusto0/TP_1_AEDs_III.git
	branch = main
[submodule "AEEDs3/TP_2_AEDs_III"]
	path = AEEDs3/TP_2_AEDs_III
	url = https://github.com/vfmoraes/TP_2_AEDs_III.git
	branch = main
[submodule "AEEDs3/TP_3_AEDs_III"]
	path = AEEDs3/TP_3_AEDs_III
	url = https://github.com/vfmoraes/TP_3_AEDs_III.git
	branch = main
[submodule "AEEDs3/TP_4_AEDs_III"]
	path = AEEDs3/TP_4_AEDs_III
	url = https://github.com/vfmoraes/TP_4_AEDs_III.git
	branch = main
[submodule "TI4/TI-4_Bakumatsu_The_Last_Blade"]
	path = TI4/TI-4_Bakumatsu_The_Last_Blade
	url = https://github.com/LuisAugusto0/TI-4_Bakumatsu_The_Last_Blade.git
[submodule "TI1/MindMate"]
	path = TI1/MindMate
	url = https://github.com/vfmoraes/MindMate.git
[submodule "TI2/HyperFantasy"]
	path = TI2/HyperFantasy
	url = https://github.com/vfmoraes/HyperFantasy.git
[submodule "LDDM/Vamo-Rachar"]
	path = LDDM/Vamo-Rachar
	url = https://github.com/LuisAugusto0/Vamo-Rachar.git
