[submodule "AEEDs3/TP_1_AEDs_III"]
	path = AEEDs3/TP_1_AEDs_III
	url = https://github.com/LuisAugusto0/TP_1_AEDs_III.git
[submodule "AEEDs3/TP_3_AEDs_III"]
	path = AEEDs3/TP_3_AEDs_III
	url = https://github.com/vfmoraes/TP_3_AEDs_III.git
[submodule "AEEDs3/--force"]
	path = AEEDs3/--force
	url = https://github.com/vfmoraes/TP_2_AEDs_III.git
